@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #171221;
  margin: 0px;
  position: relative;
  width: 100%;
  color: white;
  height: 100vh;
}

input,
textarea {
  outline: none;
}

input {
  padding: 0 5px;
}
